datasets==3.1.0
huggingface_hub==0.26.2
langchain==0.1.5
llama_index==0.7.21
numpy==1.26.4
pandas==2.2.3
peft==0.7.1
scikit_learn==1.4.0
streamlit==1.30.0
torch==2.5.1
tqdm==4.67.0
transformers==4.46.3
vllm==0.6.4.post1
wandb==0.16.2